.img-background-1{
    /*overflow: hidden;*/
    /*background: url("../../src/Files/Pictures/svg/blob 1.svg") no-repeat;*/
    /*background-size: contain;*/
    /*background-position: center;*/
}




/* MEDIA QUERRIES */
@media (min-width: 485px) {

}


@media (min-width: 576px) {

}

@media (min-width: 594px) {

}

@media (min-width: 600px) {

}

@media (min-width: 650px) {

}


@media (min-width: 675px) {

}


/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

}

@media (min-width: 934px) {

}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

}

@media (min-width: 1094px) {

}


/*// X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}


@media (min-width: 1300px) {

}

/*// XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {

}